h1 {
    font-size: 60px;
    font-weight: bold;
}

p {
    background-color: blueviolet;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20;
}

ul {
    background: purple;
    color:white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
    background-color: darkmagenta;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
